/*MEDIA QUERY MOBILE*/
@media (min-width: 320px) and (max-width:480px){ 
    .title{
        font-size: 25px;
        color: #000000;
        text-align: left}
    
    .sub-title{
        font-weight: 350;
        font-size: 20px;
        text-align: left}
    
    p{
        font-size: 15px;
        text-align: justify;
        width: 100%}
    
    .navegator{
        font-size: 10px
        nav ul li{
            list-style: none;
            font-size: 13px;
            align-items: center}
    }
    
    .navegadores{
        position: static}
        
    .platillo{
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        width: 49px}
    
    .contenido-principal{
        margin: 30px 0 30px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center}
    
    .cont-logo{
        width: 150px;
        padding: 1rem;
        justify-content: center}
            
    .carousel-inner{
        height: 200px}
    
    .carousel-item{
            height: 200px}}
    
    /*MEDIA QUERY TABLET*/
    @media (min-width:481px) and (max-width: 780px){  
    .contenido-principal{
        margin: 30px 0 30px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center}
    
    .cont-logo{
        width: 150px;
        padding: 1rem;
        justify-content: center;
    
        img{
            width: 100%}
        }
    
    .title{
        font-size: 30px;
        color: #000000;
        text-align: left}
        
    .sub-title{
        font-weight: 400px;
        font-size: 20px;
        text-align: left}
    
    p{
        font-size: 15px;
        text-align: justify;
        width: 100%}
                   
    .navegator nav ul{
        display: flex;
        gap: 1em;
    
        li{
            list-style: none;
            font-size: 13px;}
    }
    
    .carousel-inner{
        height: 250px}
    
    .carousel-item{
        height: 200px}
    }